@model Hieromemics.Models.messages

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>messages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pictures.StoragePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FriendCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.users.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.messageID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
